<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gx.dao.invoiceinventory.InvoiceinventoryMapper" >
  <resultMap id="BaseResultMap" type="com.gx.po.invoiceinventory.Invoiceinventory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="invoicetype" property="invoicetype" jdbcType="INTEGER" />
    <result column="billinglimit" property="billinglimit" jdbcType="DECIMAL" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="startnumber" property="startnumber" jdbcType="VARCHAR" />
    <result column="invoicenumber" property="invoicenumber" jdbcType="INTEGER" />
    <result column="endnumber" property="endnumber" jdbcType="VARCHAR" />
    <result column="linggoudate" property="linggoudate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, invoicetype, billinglimit, classname, startnumber, invoicenumber, endnumber, 
    linggoudate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pw_invoiceinventory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pw_invoiceinventory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gx.po.invoiceinventory.Invoiceinventory" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pw_invoiceinventory (invoicetype, billinglimit, classname, 
      startnumber, invoicenumber, endnumber, 
      linggoudate)
    values (#{invoicetype,jdbcType=INTEGER}, #{billinglimit,jdbcType=DECIMAL}, #{classname,jdbcType=VARCHAR}, 
      #{startnumber,jdbcType=VARCHAR}, #{invoicenumber,jdbcType=INTEGER}, #{endnumber,jdbcType=VARCHAR}, 
      #{linggoudate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.gx.po.invoiceinventory.Invoiceinventory" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pw_invoiceinventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invoicetype != null" >
        invoicetype,
      </if>
      <if test="billinglimit != null" >
        billinglimit,
      </if>
      <if test="classname != null" >
        classname,
      </if>
      <if test="startnumber != null" >
        startnumber,
      </if>
      <if test="invoicenumber != null" >
        invoicenumber,
      </if>
      <if test="endnumber != null" >
        endnumber,
      </if>
      <if test="linggoudate != null" >
        linggoudate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invoicetype != null" >
        #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="billinglimit != null" >
        #{billinglimit,jdbcType=DECIMAL},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="startnumber != null" >
        #{startnumber,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        #{invoicenumber,jdbcType=INTEGER},
      </if>
      <if test="endnumber != null" >
        #{endnumber,jdbcType=VARCHAR},
      </if>
      <if test="linggoudate != null" >
        #{linggoudate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gx.po.invoiceinventory.Invoiceinventory" >
    update pw_invoiceinventory
    <set >
      <if test="invoicetype != null" >
        invoicetype = #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="billinglimit != null" >
        billinglimit = #{billinglimit,jdbcType=DECIMAL},
      </if>
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="startnumber != null" >
        startnumber = #{startnumber,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        invoicenumber = #{invoicenumber,jdbcType=INTEGER},
      </if>
      <if test="endnumber != null" >
        endnumber = #{endnumber,jdbcType=VARCHAR},
      </if>
      <if test="linggoudate != null" >
        linggoudate = #{linggoudate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gx.po.invoiceinventory.Invoiceinventory" >
    update pw_invoiceinventory
    set invoicetype = #{invoicetype,jdbcType=INTEGER},
      billinglimit = #{billinglimit,jdbcType=DECIMAL},
      classname = #{classname,jdbcType=VARCHAR},
      startnumber = #{startnumber,jdbcType=VARCHAR},
      invoicenumber = #{invoicenumber,jdbcType=INTEGER},
      endnumber = #{endnumber,jdbcType=VARCHAR},
      linggoudate = #{linggoudate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultType="com.gx.vo.InvoiceinventoryVo">
  	select pw_invoiceinventory.* ,invoicetype.classcode,invoicetype.classname AS invoicetypename 
  	from pw_invoiceinventory
  	INNER JOIN sys_invoicetype  AS invoicetype  ON pw_invoiceinventory.invoicetype =invoicetype.id
	ORDER BY pw_invoiceinventory.id DESC
  </select>
  <select id="findByDate" resultType="com.gx.vo.InvoicereceiveVo">
  	SELECT pw_invoicereceive.* ,invoicetype.classcode,invoicetype.classname
	FROM pw_invoicereceive
	INNER JOIN sys_invoicetype  AS invoicetype  ON pw_invoicereceive.invoicetype =invoicetype.id
  	where  linggoudate BETWEEN #{startime,jdbcType=DATE} AND #{endtime,jdbcType=DATE}
  </select>
  <select id="findByContent" resultType="com.gx.po.invoiceinventory.Invoiceinventory">
  	select * from pw_invoiceinventory
  	where invoicetype = #{invoicetype,jdbcType=INTEGER} and
  		  startnumber = #{startnumber,jdbcType=VARCHAR} and
  		  invoicenumber = #{invoicenumber,jdbcType=INTEGER}
  </select>
  
  <select id="findByKuCun" resultType="com.gx.po.invoiceinventory.Invoiceinventory">
  	SELECT pw_invoiceinventory.* ,invoicetype.classcode,invoicetype.classname AS invoicetypename,
  			(SELECT MONTH(linggoudate)) AS month,
  			(SELECT YEAR(linggoudate)) AS year 
  	FROM pw_invoiceinventory
	INNER JOIN sys_invoicetype  AS invoicetype  ON pw_invoiceinventory.invoicetype =invoicetype.id
	WHERE DATE_FORMAT(linggoudate,'%Y') =#{year,jdbcType=INTEGER}  AND
          DATE_FORMAT(linggoudate,'%Y-%m')=#{month,jdbcType=INTEGER} AND
          pw_invoiceinventory.invoicetype=#{invoicetype,jdbcType=INTEGER}
  </select>
  <select id="findById" resultType="com.gx.vo.InvoiceinventoryVo">
  	select pw_invoiceinventory.* ,invoicetype.classcode,invoicetype.classname AS invoicetypename 
  	from pw_invoiceinventory
  	INNER JOIN sys_invoicetype  AS invoicetype  ON pw_invoiceinventory.invoicetype =invoicetype.id
  	where pw_invoiceinventory.id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateById" parameterType="com.gx.po.invoiceinventory.Invoiceinventory">
  	UPDATE pw_invoiceinventory
	SET invoicetype = #{invoicetype,jdbcType=INTEGER}
	where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.gx.po.invoiceinventory.Invoiceinventory">
  	UPDATE pw_invoiceinventory
	SET    startnumber = #{startnumber,jdbcType=VARCHAR},
      	   invoicenumber = #{invoicenumber,jdbcType=INTEGER}
	where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByType" resultType="com.gx.vo.InvoiceinventoryVo">
  	select pw_invoiceinventory.* ,invoicetype.classcode,invoicetype.classname AS invoicetypename 
  	from pw_invoiceinventory
  	INNER JOIN sys_invoicetype  AS invoicetype  ON pw_invoiceinventory.invoicetype =invoicetype.id
	WHERE pw_invoiceinventory.invoicetype=#{type,jdbcType=INTEGER}
	LIMIT 1
  </select>
</mapper>