<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gx.dao.costitems.CostitemsMapper" >
  <resultMap id="BaseResultMap" type="com.gx.po.costitems.Costitems" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="simplecode" property="simplecode" jdbcType="VARCHAR" />
    <result column="taxtypecode" property="taxtypecode" jdbcType="VARCHAR" />
    <result column="taxtypename" property="taxtypename" jdbcType="VARCHAR" />
    <result column="policytype" property="policytype" jdbcType="INTEGER" />
    <result column="enjoypolicies" property="enjoypolicies" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, simplecode, taxtypecode, taxtypename, policytype, enjoypolicies
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_costitems
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_costitems
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gx.po.costitems.Costitems" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_costitems (code, name, simplecode, 
      taxtypecode, taxtypename, policytype, 
      enjoypolicies)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{simplecode,jdbcType=VARCHAR}, 
      #{taxtypecode,jdbcType=VARCHAR}, #{taxtypename,jdbcType=VARCHAR}, #{policytype,jdbcType=INTEGER}, 
      #{enjoypolicies,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gx.po.costitems.Costitems" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_costitems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="simplecode != null" >
        simplecode,
      </if>
      <if test="taxtypecode != null" >
        taxtypecode,
      </if>
      <if test="taxtypename != null" >
        taxtypename,
      </if>
      <if test="policytype != null" >
        policytype,
      </if>
      <if test="enjoypolicies != null" >
        enjoypolicies,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="simplecode != null" >
        #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="taxtypecode != null" >
        #{taxtypecode,jdbcType=VARCHAR},
      </if>
      <if test="taxtypename != null" >
        #{taxtypename,jdbcType=VARCHAR},
      </if>
      <if test="policytype != null" >
        #{policytype,jdbcType=INTEGER},
      </if>
      <if test="enjoypolicies != null" >
        #{enjoypolicies,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gx.po.costitems.Costitems" >
    update sys_costitems
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="simplecode != null" >
        simplecode = #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="taxtypecode != null" >
        taxtypecode = #{taxtypecode,jdbcType=VARCHAR},
      </if>
      <if test="taxtypename != null" >
        taxtypename = #{taxtypename,jdbcType=VARCHAR},
      </if>
      <if test="policytype != null" >
        policytype = #{policytype,jdbcType=INTEGER},
      </if>
      <if test="enjoypolicies != null" >
        enjoypolicies = #{enjoypolicies,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gx.po.costitems.Costitems" >
    update sys_costitems
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      simplecode = #{simplecode,jdbcType=VARCHAR},
      taxtypecode = #{taxtypecode,jdbcType=VARCHAR},
      taxtypename = #{taxtypename,jdbcType=VARCHAR},
      policytype = #{policytype,jdbcType=INTEGER},
      enjoypolicies = #{enjoypolicies,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultType="com.gx.po.costitems.Costitems">
  	SELECT * FROM sys_costitems
	ORDER BY sys_costitems.id DESC
  </select>
</mapper>