<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gx.dao.extensioku.ExtensiokuMapper" >
  <resultMap id="BaseResultMap" type="com.gx.po.extensioku.Extensioku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="invoicetype" property="invoicetype" jdbcType="INTEGER" />
    <result column="billinglimit" property="billinglimit" jdbcType="DECIMAL" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="startnumber" property="startnumber" jdbcType="VARCHAR" />
    <result column="invoicenumber" property="invoicenumber" jdbcType="INTEGER" />
    <result column="endnumber" property="endnumber" jdbcType="VARCHAR" />
    <result column="medium" property="medium" jdbcType="INTEGER" />
    <result column="extensionnumber" property="extensionnumber" jdbcType="INTEGER" />
    <result column="extensiondate" property="extensiondate" jdbcType="DATE" />
    <result column="extensionstatus" property="extensionstatus" jdbcType="INTEGER" />
    <result column="ifreturn" property="ifreturn" jdbcType="BIT" />
    <result column="ifrefund" property="ifrefund" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, invoicetype, billinglimit, classname, startnumber, invoicenumber, endnumber, 
    medium, extensionnumber, extensiondate, extensionstatus, ifreturn, ifrefund
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pw_extensioku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pw_extensioku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gx.po.extensioku.Extensioku" >
    insert into pw_extensioku (id, invoicetype, billinglimit, 
      classname, startnumber, invoicenumber, 
      endnumber, medium, extensionnumber, 
      extensiondate, extensionstatus, ifreturn, 
      ifrefund)
    values (#{id,jdbcType=INTEGER}, #{invoicetype,jdbcType=INTEGER}, #{billinglimit,jdbcType=DECIMAL}, 
      #{classname,jdbcType=VARCHAR}, #{startnumber,jdbcType=VARCHAR}, #{invoicenumber,jdbcType=INTEGER}, 
      #{endnumber,jdbcType=VARCHAR}, #{medium,jdbcType=INTEGER}, #{extensionnumber,jdbcType=INTEGER}, 
      #{extensiondate,jdbcType=DATE}, #{extensionstatus,jdbcType=INTEGER}, #{ifreturn,jdbcType=BIT}, 
      #{ifrefund,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gx.po.extensioku.Extensioku" >
    insert into pw_extensioku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="invoicetype != null" >
        invoicetype,
      </if>
      <if test="billinglimit != null" >
        billinglimit,
      </if>
      <if test="classname != null" >
        classname,
      </if>
      <if test="startnumber != null" >
        startnumber,
      </if>
      <if test="invoicenumber != null" >
        invoicenumber,
      </if>
      <if test="endnumber != null" >
        endnumber,
      </if>
      <if test="medium != null" >
        medium,
      </if>
      <if test="extensionnumber != null" >
        extensionnumber,
      </if>
      <if test="extensiondate != null" >
        extensiondate,
      </if>
      <if test="extensionstatus != null" >
        extensionstatus,
      </if>
      <if test="ifreturn != null" >
        ifreturn,
      </if>
      <if test="ifrefund != null" >
        ifrefund,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="invoicetype != null" >
        #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="billinglimit != null" >
        #{billinglimit,jdbcType=DECIMAL},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="startnumber != null" >
        #{startnumber,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        #{invoicenumber,jdbcType=INTEGER},
      </if>
      <if test="endnumber != null" >
        #{endnumber,jdbcType=VARCHAR},
      </if>
      <if test="medium != null" >
        #{medium,jdbcType=INTEGER},
      </if>
      <if test="extensionnumber != null" >
        #{extensionnumber,jdbcType=INTEGER},
      </if>
      <if test="extensiondate != null" >
        #{extensiondate,jdbcType=DATE},
      </if>
      <if test="extensionstatus != null" >
        #{extensionstatus,jdbcType=INTEGER},
      </if>
      <if test="ifreturn != null" >
        #{ifreturn,jdbcType=BIT},
      </if>
      <if test="ifrefund != null" >
        #{ifrefund,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gx.po.extensioku.Extensioku" >
    update pw_extensioku
    <set >
      <if test="invoicetype != null" >
        invoicetype = #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="billinglimit != null" >
        billinglimit = #{billinglimit,jdbcType=DECIMAL},
      </if>
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="startnumber != null" >
        startnumber = #{startnumber,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        invoicenumber = #{invoicenumber,jdbcType=INTEGER},
      </if>
      <if test="endnumber != null" >
        endnumber = #{endnumber,jdbcType=VARCHAR},
      </if>
      <if test="medium != null" >
        medium = #{medium,jdbcType=INTEGER},
      </if>
      <if test="extensionnumber != null" >
        extensionnumber = #{extensionnumber,jdbcType=INTEGER},
      </if>
      <if test="extensiondate != null" >
        extensiondate = #{extensiondate,jdbcType=DATE},
      </if>
      <if test="extensionstatus != null" >
        extensionstatus = #{extensionstatus,jdbcType=INTEGER},
      </if>
      <if test="ifreturn != null" >
        ifreturn = #{ifreturn,jdbcType=BIT},
      </if>
      <if test="ifrefund != null" >
        ifrefund = #{ifrefund,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gx.po.extensioku.Extensioku" >
    update pw_extensioku
    set invoicetype = #{invoicetype,jdbcType=INTEGER},
      billinglimit = #{billinglimit,jdbcType=DECIMAL},
      classname = #{classname,jdbcType=VARCHAR},
      startnumber = #{startnumber,jdbcType=VARCHAR},
      invoicenumber = #{invoicenumber,jdbcType=INTEGER},
      endnumber = #{endnumber,jdbcType=VARCHAR},
      medium = #{medium,jdbcType=INTEGER},
      extensionnumber = #{extensionnumber,jdbcType=INTEGER},
      extensiondate = #{extensiondate,jdbcType=DATE},
      extensionstatus = #{extensionstatus,jdbcType=INTEGER},
      ifreturn = #{ifreturn,jdbcType=BIT},
      ifrefund = #{ifrefund,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findBymedium" resultType="com.gx.vo.ExtensiokuVo">
  	SELECT pw_extensioku.* ,invoicetype.classcode,invoicetype.classname AS invoicetypename 
	FROM pw_extensioku
	INNER JOIN sys_invoicetype  AS invoicetype  ON pw_extensioku.invoicetype =invoicetype.id
	WHERE medium=#{medium,jdbcType=INTEGER}
  </select>
  <select id="findOnReturn" resultType="com.gx.po.extensioku.Extensioku">
  	SELECT * FROM pw_extensioku
	WHERE medium=#{medium,jdbcType=INTEGER}
  </select>
  <select id="findBymediumAndType" resultType="com.gx.vo.ExtensiokuVo">
  	SELECT pw_extensioku.* ,invoicetype.classcode,invoicetype.classname AS invoicetypename 
	FROM pw_extensioku
	INNER JOIN sys_invoicetype  AS invoicetype  ON pw_extensioku.invoicetype =invoicetype.id
	<if test="type == 1" >
		WHERE medium=#{medium,jdbcType=INTEGER} and invoicetype IN(1,2)
	</if>
	<if test="type == 2" >
		WHERE medium=#{medium,jdbcType=INTEGER} and invoicetype IN(3,4,6)
	</if>
	<if test="type == 3" >
		WHERE medium=#{medium,jdbcType=INTEGER} and invoicetype IN(5)
	</if>
  </select>
</mapper>