@CHARSET "UTF-8";
a{
   	cursor: hand;
   	cursor: pointer;
}
#main-content {
	margin-left: 0px !important;
	margin-bottom: 0px !important;
}
li{
	list-style-type:none;
}
th{
	font-size: 13px!important;
}
td{
	font-size: 13px!important;
}

.tab-pane{
	margin-left: 30px;
}


.input-medium{
   padding: 15px!important;
}
