<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gx.dao.purchaseunits.PurchaseunitsMapper" >
  <resultMap id="BaseResultMap" type="com.gx.po.purchaseunits.Purchaseunits" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="simplecode" property="simplecode" jdbcType="VARCHAR" />
    <result column="taxpayeridentificationnumber" property="taxpayeridentificationnumber" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="bankaccount" property="bankaccount" jdbcType="VARCHAR" />
    <result column="organizationcode" property="organizationcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, simplecode, taxpayeridentificationnumber, telephone, bankaccount, 
    organizationcode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_purchaseunits
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_purchaseunits
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gx.po.purchaseunits.Purchaseunits" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_purchaseunits (code, name, simplecode, 
      taxpayeridentificationnumber, telephone, 
      bankaccount, organizationcode)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{simplecode,jdbcType=VARCHAR}, 
      #{taxpayeridentificationnumber,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{bankaccount,jdbcType=VARCHAR}, #{organizationcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gx.po.purchaseunits.Purchaseunits" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_purchaseunits
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="simplecode != null" >
        simplecode,
      </if>
      <if test="taxpayeridentificationnumber != null" >
        taxpayeridentificationnumber,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="bankaccount != null" >
        bankaccount,
      </if>
      <if test="organizationcode != null" >
        organizationcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="simplecode != null" >
        #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="taxpayeridentificationnumber != null" >
        #{taxpayeridentificationnumber,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="organizationcode != null" >
        #{organizationcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gx.po.purchaseunits.Purchaseunits" >
    update sys_purchaseunits
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="simplecode != null" >
        simplecode = #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="taxpayeridentificationnumber != null" >
        taxpayeridentificationnumber = #{taxpayeridentificationnumber,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        bankaccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="organizationcode != null" >
        organizationcode = #{organizationcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gx.po.purchaseunits.Purchaseunits" >
    update sys_purchaseunits
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      simplecode = #{simplecode,jdbcType=VARCHAR},
      taxpayeridentificationnumber = #{taxpayeridentificationnumber,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      bankaccount = #{bankaccount,jdbcType=VARCHAR},
      organizationcode = #{organizationcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultType="com.gx.po.purchaseunits.Purchaseunits">
  	select * from sys_purchaseunits
	ORDER BY sys_purchaseunits.id DESC
  </select>
</mapper>