<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gx.dao.invoicereceive.InvoicereceiveMapper" >
  <resultMap id="BaseResultMap" type="com.gx.po.invoicereceive.Invoicereceive" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="invoicetype" property="invoicetype" jdbcType="INTEGER" />
    <result column="billinglimit" property="billinglimit" jdbcType="DECIMAL" />
    <result column="startnumber" property="startnumber" jdbcType="VARCHAR" />
    <result column="invoicenumber" property="invoicenumber" jdbcType="INTEGER" />
    <result column="endnumber" property="endnumber" jdbcType="VARCHAR" />
    <result column="linggoudate" property="linggoudate" jdbcType="DATE" />
    <result column="medium" property="medium" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, invoicetype, billinglimit, startnumber, invoicenumber, endnumber, linggoudate, 
    medium
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pw_invoicereceive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pw_invoicereceive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gx.po.invoicereceive.Invoicereceive" >
    insert into pw_invoicereceive (id, invoicetype, billinglimit, 
      startnumber, invoicenumber, endnumber, 
      linggoudate, medium)
    values (#{id,jdbcType=INTEGER}, #{invoicetype,jdbcType=INTEGER}, #{billinglimit,jdbcType=DECIMAL}, 
      #{startnumber,jdbcType=VARCHAR}, #{invoicenumber,jdbcType=INTEGER}, #{endnumber,jdbcType=VARCHAR}, 
      #{linggoudate,jdbcType=DATE}, #{medium,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gx.po.invoicereceive.Invoicereceive" >
    insert into pw_invoicereceive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="invoicetype != null" >
        invoicetype,
      </if>
      <if test="billinglimit != null" >
        billinglimit,
      </if>
      <if test="startnumber != null" >
        startnumber,
      </if>
      <if test="invoicenumber != null" >
        invoicenumber,
      </if>
      <if test="endnumber != null" >
        endnumber,
      </if>
      <if test="linggoudate != null" >
        linggoudate,
      </if>
      <if test="medium != null" >
        medium,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="invoicetype != null" >
        #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="billinglimit != null" >
        #{billinglimit,jdbcType=DECIMAL},
      </if>
      <if test="startnumber != null" >
        #{startnumber,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        #{invoicenumber,jdbcType=INTEGER},
      </if>
      <if test="endnumber != null" >
        #{endnumber,jdbcType=VARCHAR},
      </if>
      <if test="linggoudate != null" >
        #{linggoudate,jdbcType=DATE},
      </if>
      <if test="medium != null" >
        #{medium,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gx.po.invoicereceive.Invoicereceive" >
    update pw_invoicereceive
    <set >
      <if test="invoicetype != null" >
        invoicetype = #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="billinglimit != null" >
        billinglimit = #{billinglimit,jdbcType=DECIMAL},
      </if>
      <if test="startnumber != null" >
        startnumber = #{startnumber,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        invoicenumber = #{invoicenumber,jdbcType=INTEGER},
      </if>
      <if test="endnumber != null" >
        endnumber = #{endnumber,jdbcType=VARCHAR},
      </if>
      <if test="linggoudate != null" >
        linggoudate = #{linggoudate,jdbcType=DATE},
      </if>
      <if test="medium != null" >
        medium = #{medium,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gx.po.invoicereceive.Invoicereceive" >
    update pw_invoicereceive
    set invoicetype = #{invoicetype,jdbcType=INTEGER},
      billinglimit = #{billinglimit,jdbcType=DECIMAL},
      startnumber = #{startnumber,jdbcType=VARCHAR},
      invoicenumber = #{invoicenumber,jdbcType=INTEGER},
      endnumber = #{endnumber,jdbcType=VARCHAR},
      linggoudate = #{linggoudate,jdbcType=DATE},
      medium = #{medium,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findBymedium" resultType="com.gx.po.invoicereceive.Invoicereceive">
  	SELECT * FROM pw_invoicereceive
	WHERE medium=#{medium,jdbcType=INTEGER}
  </select>
</mapper>