@charset "utf-8";
.cont{
	text-align:center;
	min-height:400px;
	}
.cont h2{
	font-weight:normal;
	margin-top: -80px;
	}		
.cont a{
	color:#F30;
	margin-left:20px;
	}	
.cont p span{
	padding:0 5px;
	}	